<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @user.name %></h1>
<p>
  You must return book <%= @book.title %> tomorrow,
  otherwise you become a debtor.
  <br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>!</p>
</body>
</html>