.col-md-2.col-md-offset-5
  - if user_signed_in?
    - if @user == current_user
      Hello,
    = @user.name
    _books
    .img-rounded= image_tag @user.avatar.url(:medium)
  - else
    = link_to 'Sign in', new_user_session_path
    or
    = link_to 'Sign up', new_user_registration_path